.body {
  width: 100vw;
  height: 100vh;
}

.container__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: yellow;
  padding: 15px;
}

.container__link {
  text-decoration: none;
  font-size: 30px;
}

.red_section {
  width: 100vw;
  height: 50vh;
  background-color: red;
  margin-top: 200px;
}
