.identifiers {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
}

.body {
  width: 100vw;
  height: 100vh;
}

.container__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: yellow;
  padding: 15px;
}

.container__link {
  text-decoration: none;
  font-size: 30px;
}

.blue_section {
  width: 100vw;
  height: 100vh;
  background-color: blue;
  border-radius: 100px;
  margin-top: 800px;
}

.green_section {
  width: 100vw;
  height: 100vh;
  background-color: green;
  border-radius: 100px;
}

.red_section {
  width: 100vw;
  height: 100vh;
  background-color: red;
  border-radius: 100px;
}

.yellow_section {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  border-radius: 100px;
}

.pink_section {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  border-radius: 100px;
}

.purple_section {
  width: 100vw;
  height: 100vh;
  background-color: purple;
  border-radius: 100px;
}
